#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

form {
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #213547;
    border-radius: 1em;
}

label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: #dfd9be;
}

input {
    font: inherit;
    padding: 0.5em;
    background-color: #b4b6c4;
    border: none;
    border-radius: 4px;
}

form button {
    display: block;
    width: 8em;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #f7e596;
    border: none;
    border-radius: 4px;
    font: inherit;
    font-weight: bold;
    color: #3a4346;
    cursor: pointer;
}

form button:hover {
    background-color: #f9e175;
}

form button:active {
    transform: scale(.98);
}

.warning-message {
    display: block;
    margin-top: 0.25em;
    text-align: left;
    font-size: 0.75rem;
    color: rgb(231, 30, 30);
    visibility: hidden;
}

.result {
    margin-top: 2em;
    visibility: hidden;
}

.visible {
    visibility: visible;
}
